@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "./assets/variables.scss";
@import "./assets/reset.scss";

html {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: $main-c;
  font-weight: 800;
  line-height: 1rem;
}